.closeIcon {
    position: absolute;
}
.ui.modal {
    position: relative;
}

.ui.dimmer {
    padding: 350px;
}

@media screen and (max-width: 576px) {
    .ui.modal > .content {
        padding: 34px;
        width: 200px;
        margin: -251px;
    }
    .closeIcon {
        top : 15px;
        left: -80px;
    }
}

@media screen and (min-width: 576px) {
    .ui.modal > .content {
        width: 315px;
        margin: -200px;
    }
    .closeIcon {
        top : 15px;
        left: 50px;
    }
}
@media screen and (min-width: 768px) {
    .ui.modal > .content {
        width: 600px;
    }
    .ui.modal {
        width: 52%;
    }
    .closeIcon {
        top : 15px;
        left: 350px;
    }
}

@media screen and (min-width: 992px) {
    .ui.modal > .content {
        width: 750px;
        margin: -100px;
    }
    .ui.modal {
        width: 52%;
    }
    .closeIcon {
        top : 15px;
        left: 580px;
    }
}

@media screen and (min-width: 1200px) {
    .ui.modal > .content {
        width: 850px;
        margin: -100px;
    }
    .ui.modal {
        width: 70%;
        margin: 100px;
    }
    .closeIcon {
        top : 15px;
        left: 700px;
    }
}
