.search-input {

    width: 70%;
    margin: 10px 150px 20px;
    padding: 10px;
    text-align: center;
    border: 1px grey;
    outline: none;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;;
    font-size: 12pt;
}
